<% content_for :title, "Lançamentos" %>

<div class="bg-white rounded shadow">
  <table class="w-full text-sm">
    <thead class="border-b">
      <tr>
        <th class="p-3 text-left">Data</th>
        <th class="p-3 text-left">Descrição</th>
        <th class="p-3 text-right">Valor</th>
      </tr>
    </thead>

    <tbody>
      <% @lancamentos.each do |l| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="p-3"><%= l.data.strftime("%d/%m") %></td>
          <td class="p-3">
            <%= l.tipo.capitalize %>
            <% if l.fatura %>
              <span class="text-xs text-gray-400">
                • <%= l.fatura.cartao.nome %>
              </span>
            <% end %>
          </td>
          <td class="p-3 text-right font-medium
            <%= l.despesa? ? 'text-red-600' : 'text-green-600' %>">
            <%= number_to_currency(l.valor) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
