<h1 class="text-2xl font-bold mb-4">Cartões</h1>

<%= link_to "Novo cartão",
            new_cartao_path,
            class: "inline-block mb-4 bg-green-600 text-white px-4 py-2 rounded" %>

<table class="w-full border">
  <thead>
    <tr class="bg-gray-100">
      <th class="p-2 text-left">Nome</th>
      <th class="p-2 text-left">Limite</th>
      <th class="p-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartaos.each do |cartao| %>
      <tr class="border-t">
        <td class="p-2"><%= cartao.nome %></td>
        <td class="p-2">R$ <%= number_to_currency(cartao.limite, unit: "") %></td>
        <td class="p-2 text-right">
          <%= link_to "Ver", cartao_path(cartao), class: "text-blue-600" %> |
          <%= link_to "Editar", edit_cartao_path(cartao), class: "text-yellow-600" %> |
          <%= link_to "Excluir", cartao_path(cartao),
                method: :delete,
                data: {
              turbo_method: :delete,
              turbo_confirm: "Tem certeza?"
            },
                class: "text-red-600" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
