<aside class="w-64 bg-white border-r">
  <!-- LOGO -->
  <div class="flex items-center gap-3 px-1 py-1 border-b border-gray-200">
    <%= image_tag "logo.png",
          class: "h-24 w-24",
          alt: "SNFin" %>
  </div>

  <nav class="px-4 space-y-2">
    <%= link_to lancamentos_path, class: "flex items-center gap-3 py-2 px-3 rounded hover:bg-gray-100" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-[22px] w-[22px] text-gray-500 shrink-0" fill="none" viewBox="0 0 24 24  " stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8V6m0 12v-2M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Lançamentos</span>
    <% end %>

    <%= link_to cartaos_path, class: "flex items-center gap-3 py-2 px-3 rounded hover:bg-gray-100" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-[22px] w-[22px] text-gray-500 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M2 8h20M2 12h20M2 16h20M6 8v8" />
      </svg>
      <span>Cartões</span>
    <% end %>

    <%= link_to competencias_path, class: "flex items-center gap-3 py-2 px-3 rounded hover:bg-gray-100" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-[22px] w-[22px] text-gray-500 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M8 7V3m8 4V3M5 11h14M5 19h14M5 7h14a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V9a2 2 0 012-2z" />
      </svg>
      <span>Competências</span>
    <% end %>
  </nav>

  <!-- ESPAÇO + LINHA -->
  <div class="mt-4 mb-6 border-t border-gray-200"></div>

  <!-- RESUMO DA COMPETÊNCIA -->
  <div class="sticky top-6 bg-white px-4 pb-6 space-y-4">
    <div class="mt-2 ">
      <p class="text-xs text-gray-500 uppercase">Receitas Previstas</p>
      <p class="text-sm font-semibold text-silver-600">
        <%= number_to_currency(@competencia_atual.total_receitas_previstas) %>
      </p>
    </div>
    <div class="mt-2 ">
      <p class="text-xs text-gray-500 uppercase">Receitas Realizadas</p>
      <p class="text-lg font-semibold text-green-600">
        <%= number_to_currency(@competencia_atual.total_receitas_realizadas) %>
      </p>
    </div>

    <div class="mt-2 ">
      <p class="text-xs text-gray-500 uppercase">Despesas Previstas</p>
      <p class="text-sm font-semibold text-silver-600">
        <%= number_to_currency(@competencia_atual.total_despesas_previstas) %>
      </p>
    </div>
    <div class="mt-2 ">
      <p class="text-xs text-gray-500 uppercase">Despesas Realizadas</p>
      <p class="text-lg font-semibold text-red-600">
        <%= number_to_currency(@competencia_atual.total_despesas_realizadas) %>
      </p>
    </div>

    <div class="pt-2 border-t border-gray-100">
      <p class="text-xs text-gray-500 uppercase">Saldo do mês</p>
      <p class="text-xl font-bold
                <%= @competencia_atual.saldo >= 0 ? 'text-green-400' : 'text-red-400' %>">
        <%= number_to_currency(@competencia_atual.saldo) %>
      </p>
    </div>

    <div class="pt-2 border-t border-gray-100">
      <p class="text-xs text-gray-500 uppercase">Saldo total</p>
      <p class="text-xl font-bold
                <%= @competencia_atual.saldo_total >= 0 ? 'text-green-700' : 'text-red-700' %>">
        <%= number_to_currency(@competencia_atual.saldo_total) %>
      </p>
    </div>
  </div>
</aside>
