<!DOCTYPE html>
<html>
  <head>
    <title>SNFin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">

    <div class="flex min-h-screen">

      <%= render "shared/sidebar" %>

      <main class="flex-1 p-6">
        <%= render "shared/header" %>
        <%= yield %>
      </main>

    </div>
  </body>
</html>
